body{
    margin: 0px;
    background-color: skyblue;
}

nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: #333;
}
nav ul li{
    float: left;
}
nav ul li a{
    padding: 14px 16px;
    display: inline-block;
    text-align: center; 
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
  background-color: indianred;
}
nav h1{
    margin: 10px;
    float: right;
}
nav h1 a{
    text-decoration: none;
    color: tomato;
}

h2{
    text-align: center;
}

form{
    width: 200px;
    margin: 20px auto;
    padding: 20px;
    border: solid;
    background-color: white;
    display: grid;
    text-align: center;
}
form label{
    font-weight: bold;
}
form select{
    margin-bottom: 20px;
}

table{
    margin: auto;
    background-color: white;
}
table th{
    padding: 20px;
}

#index_figure{
    text-align: center;
    align-content: ce;
}
#index_figure img{
    width: 200px;
}
